
.navbar{
    z-index: 100;
    background-color: #fff;
    border-bottom: 8px solid #b22222 !important;
    font-weight: bolder !important;
}

.nav-link, .navbar-brand{
    color: firebrick;
    margin-right: 2rem;
    margin-left: 2rem;
    transition-duration: 0.2s;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
}

.nav-link:hover, .navbar-brand:hover{
    transform: scale(1.2);
    background-color: firebrick;
    color: floralwhite;
}


.navbar:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 2000px rgba(178, 34, 34, .95); */
    /* filter: blur(2px); */
    z-index: -90;
}

.footer-logo{
    width: 6vw;
}

.footer-links{
    color: floralwhite;
}

.footer-social{
    margin: 1em;
    width: 3em;
}
